asn1crypto==0.24.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.2.0
cryptography==2.1.4
enum34==1.1.6
Flask==1.0.2
flask-marshmallow==0.9.0
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.3.2
functools32==3.2.3.post2
idna==2.8
inflection==0.3.1
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.0
marshmallow==2.18.0
marshmallow-sqlalchemy==0.15.0
mysqlclient==1.3.10
openapi-spec-validator==0.2.4
pathlib==1.0.1
pycrypto==2.6.1
pygobject==3.26.1
PyMySQL==0.9.3
pyxdg==0.25
PyYAML==3.13
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
SQLAlchemy==1.2.16
swagger-ui-bundle==0.0.2
typing==3.6.6
urllib3==1.24.1
Werkzeug==0.14.1
